.todoList{
    display: flex;
  flex-direction: column;
}
.done{
    padding-top: 1rem;
}
.botonDone{
    display: inline-block;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: .9s ease;
}
.botonDone:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: #f07167;
}